*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body {
    font-family: 'Libre Franklin', sans-serif;
    box-sizing: border-box;
}
h1{
    font-weight: 700;
    font-size: 2.7rem;
}
.span{
    color:hsl(0, 0%, 59%);
    font-weight: 400;
}
header p{
    font-size: 1.2rem;
}
input{
    padding: 1rem 2rem;
    width: 43%;
    border:1px solid hsl(223, 100%, 88%);
    color: hsl(223, 100%, 88%);
}
#btn{
    padding: 1rem 2rem;
    width: 20%;
    font-weight: 600;
    background-color: hsl(223, 87%, 63%);
    border: 1px solid hsl(223, 87%, 63%);
    box-shadow: 3px 3px 8px 1px hsl(223, 100%, 88%);
}
#btn:hover, #btn:active{
    background-color:  hsl(223, 91%, 71%);
    border: 1px solid hsl(223, 91%, 71%);
}
#image{
    margin: 5rem auto;
}
.icon{
    display: inline-block;
    margin-right: .8rem;
    padding: .2rem .6rem;
    border: 1px solid hsl(223, 100%, 88%);
    border-radius: 50%;
}
.icon:nth-last-of-type(1){
    margin-right: 0;
}
.fa{
    color: hsl(223, 87%, 63%);
}
.copyright{
    color: hsl(0, 0%, 59%);
    font-size: .8rem;
    margin: 1.3rem 0;
}
.attribution { 
    font-size: 11px; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
